<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>{{ 'AUTH.LOGIN' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">{{ 'AUTH.LOGIN' | translate }}</ion-title>
    </ion-toolbar>
  </ion-header>
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <ion-list>
      <ion-item>
        <ion-input
          formControlName="email"
          type="email"
          label="{{ 'AUTH.EMAIL' | translate }}"
          labelPlacement="stacked"
        ></ion-input>
      </ion-item>

      <ion-item>
        <ion-input
          formControlName="bib"
          type="number"
          label="{{ 'AUTH.BIB_NUMBER' | translate }}"
          labelPlacement="stacked"
        ></ion-input>
      </ion-item>

      <ion-button expand="block" type="submit" [disabled]="form.invalid"
        >{{ 'AUTH.SIGN_IN' | translate }}</ion-button
      >
    </ion-list>
  </form>
</ion-content>
