:host {
  --bg-color: blue;
  --text-color: #ece4e4;
  --title-size: inherit;
  display: block;
}

.countdown-timer-element {
  box-shadow: 0 0.1rem 0.2rem rgba(0, 0, 0, 0.2);
  text-align: center;
  background-color: var(--bg-color);
  width: 100%;
  color: var(--text-color);  
  border-radius: 6px;
  padding: 0.7rem;
}

.countdown-timer-element > p {
  margin: 5px 0 15px 0;
}

.countdown-timer-element > h4 {
  font-size: var(--title-size);
  letter-spacing: 0.02rem;
}

.wrapper {
  display: grid;
  grid-template-columns: 1fr;
  gap: 0.5rem;
}

.description,
.times {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  align-items: center;
}

.description > p {
  margin: 0;
  font: normal 14px sans-serif;
}

.times > p {
  margin: 0;
  font: normal 40px "Courier New", Courier, monospace;
  line-height: 1;
  letter-spacing: -2px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* responsive reductions */
@media (max-width: 420px) {
  .times > p {
    font-size: 30px;
  }
}