<button
  type="button"
  class="tracking-element app-card app-pressable"
  (click)="onClick()"
  [attr.aria-label]="trackingElementModel?.title"
>
  @if(trackingElementModel?.backgroundImage){
  <img
    [src]="trackingElementModel?.backgroundImage"
    alt=""
    class="background-image"
  />
  <span class="app-scrim" aria-hidden="true"></span>
  }

  <div class="title-row">
    <div class="icon-column" aria-hidden="true">
      @if(trackingElementModel?.icon){
      <img
        [src]="trackingElementModel?.icon"
        width="32"
        height="32"
        [alt]="trackingElementModel?.title"
      />
      }
    </div>

    <div class="title-column">
      <span class="title app-clamp-2">{{ trackingElementModel?.title }}</span>
      <span class="subtitle app-clamp-1">{{
        trackingElementModel?.subtitle
      }}</span>
    </div>

    <div class="arrow-column" aria-hidden="true">
      <ion-icon name="chevron-forward-outline" class="right-arrow"></ion-icon>
    </div>
  </div>
</button>
