<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title> {{ "TRACKING_VIEWER.TRACKING" | translate }} </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">
        {{ "TRACKING_VIEWER.TRACKING" | translate }}
      </ion-title>
    </ion-toolbar>
  </ion-header>
  <div class="tracking-viewer-frame">
    <iframe #trackingFrame title="Tracking Frame"></iframe>
  </div>
</ion-content>
