<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>{{ (info$ | async)?.title }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  @if (info$ | async; as data) { @if (data.image?.trim()) {
  <div class="image-container">
    <img [src]="data.image" alt="Info Image" />
  </div>
  } @if (data.link?.trim()) {
  <div class="link-container">
    <ion-button expand="full" (click)="navigateToLink(data.link)">
      {{ "INFO_VIEWER.MORE_INFO" | translate }}
    </ion-button>
  </div>
  }

  <div class="info-description" [innerHTML]="data.safeContent"></div>
  }
</ion-content>
