:host {
  display: block;
  height: 100vh;
}

ion-content.virtual-wrapper {
  --background: var(--ion-background-color);
  padding: 0;
}

.scroll-viewport {
  height: calc(100dvh - 112px - var(--ion-safe-area-top) - var(--ion-safe-area-bottom));
  width: 100%;
  overflow: auto;
  box-sizing: border-box;
}

/* Let cards auto-size */
.news-list-item {
  width: 100%;
  height: 300px;
  margin: 0 0 12px 0;
  border-radius: 12px;
  cursor: pointer;
  display: flex ;
  flex-direction: column;
}

.featured-image-container {
  width: 100%;
  height: 100px;
  background-size: cover;
  background-position: center;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  flex-grow: 1;
}

.no-news-wrapper {
  margin: 0.7rem;
}