<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title> {{ "CAMERA.TAKE_SELFIE" | translate }} </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">
        {{ "CAMERA.TAKE_SELFIE" | translate }}
      </ion-title>
    </ion-toolbar>
  </ion-header>
  <div class="camera-frame">
    This is where the camera view will be displayed.
  </div>
</ion-content>
