:host {
  --bg-color: blue;
  --text-color: #ece4e4;
  --filter-color: invert(100%) sepia(38%) saturate(1590%)
    hue-rotate(292deg) brightness(109%) contrast(86%);
}

.news-element {
    display: flex;
    flex-direction: column;
    justify-content: end;
    width: 100%;
    height: 11rem;
    color: var(--text-color);
    border-radius: 0.5rem;
    box-shadow: 0 0.1rem 0.2rem rgba(0, 0, 0, 0.2);
    overflow: hidden;
    min-height: 0;
    position: relative;
    background-color: var(--bg-color);
}

.title {
    font-size: 1.3rem;
    font-weight: 500;
    color: var(--text-color);
}

.subtitle {
    font-size: 0.9rem;
    color: var(--text-color);
    font-weight: 500;
}

.title-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    z-index: 1;
    background-image:
        linear-gradient(0deg, var(--bg-color) 0%, rgba(255, 255, 255, 0) 100%);
    padding: 0.7rem;
}

.title-column {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.arrow-column {
    flex: 0 0 auto;
    display: flex;
    align-self: end;
    justify-content: center;
}

.right-arrow {
    font-size: 2rem;
    font-weight: 800;
}

.icon-column {
    flex: 0 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.background-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.9;
    z-index: 0;
}

.icon-column img {
    filter: var(--filter-color);
}