<button
  type="button"
  #newsElement
  class="news-element"
  (click)="navigateToNews()"
>
  @if(newsElementModel.backgroundImage){
  <img
    [src]="newsElementModel.backgroundImage"
    alt="News Header Image"
    class="background-image"
  />
  }

  <div class="title-row">
    <div class="icon-column" aria-hidden="true">
      @if(newsElementModel.icon){
      <img
        #newsIcon
        [src]="newsElementModel.icon"
        width="32"
        [alt]="newsElementModel.title"
      />
      }
    </div>
    <div class="title-column">
      <span class="title">{{ newsElementModel.title }}</span>
      <span class="subtitle">{{ newsElementModel.subtitle }}</span>
    </div>
    <div class="arrow-column">
      <ion-icon name="chevron-forward-outline" class="right-arrow"></ion-icon>
    </div>
  </div>
</button>
