<button
  type="button"
  #newsElement
  class="news-element app-card app-pressable"
  (click)="navigateToNews()"
>
  @if(newsElementModel.backgroundImage){
  <img
    [appCachedSrc]="newsElementModel.backgroundImage"
    alt=""
    class="background-image"
  />
  <span class="app-scrim" aria-hidden="true"></span>
  }

  <div class="title-row">
    <div class="icon-column" aria-hidden="true">
      @if(newsElementModel.icon){
      <img
        #newsIcon
        [appCachedSrc]="newsElementModel.icon"
        width="32"
        height="32"
        [alt]="newsElementModel.title"
      />
      }
    </div>
    <div class="title-column">
      <span class="title app-clamp-2">{{ newsElementModel.title }}</span>
      <span class="subtitle app-clamp-1">{{ newsElementModel.subtitle }}</span>
    </div>
    <div class="arrow-column" aria-hidden="true">
      <ion-icon name="chevron-forward-outline" class="right-arrow"></ion-icon>
    </div>
  </div>
</button>
