<ion-header>
  <ion-toolbar #headerToolbar>
    @if ((this.headerElementModel?.secondaryImage?.trim() === '' ||
    this.headerElementModel?.secondaryImage === null) &&
    (headerElementModel?.mainImagePosition === 'center')) {
    <div class="center-header-image">
      <img
        [src]="this.headerElementModel?.mainImage"
        alt="Logo"
        class="main-image"
      />
    </div>
    } @else { @if (this.headerElementModel?.mainImage?.trim() !== '' &&
    this.headerElementModel?.mainImage) {}
    <img
      [src]="this.headerElementModel?.mainImage"
      alt="Logo"
      class="main-image"
      [slot]="headerElementModel?.mainImagePosition === 'left'
        ? 'start'
        : headerElementModel?.mainImagePosition === 'right'
        ? 'end'
        : 'primary'"
    />
    @if (this.headerElementModel?.secondaryImage?.trim() !== '' &&
    this.headerElementModel?.secondaryImage) {<img
      [src]="this.headerElementModel?.secondaryImage"
      alt="Logo"
      class="secondary-image"
      slot="secondary"
    />} }

    <ion-buttons slot="end">
      <ion-button (click)="navigateToSettings()">
        <ion-icon name="settings-outline" color="dark"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="element-container">
    @if (trackingElementModel) {
    <app-page-element
      [type]="'tracking'"
      [trackingElementModel]="trackingElementModel"
    ></app-page-element>
    } @if (newsElementModel) {
    <app-page-element
      [type]="'news'"
      [newsElementModel]="newsElementModel"
    ></app-page-element>
    } @if(infoChildElementModelArray && infoChildElementModelArray.length > 0) {
    <app-page-element
      [type]="'info'"
      [infoChildElementModelArray]="infoChildElementModelArray"
    ></app-page-element
    >}
  </div>
</ion-content>
