:host {
  --main-image-width: 0px;
  --secondary-image-width: 0px;
}

.element-container {
  display: flex;
  flex-direction: column;
  margin: 0.7rem;
  gap: 0.8rem;
}

.main-image {
  width: var(--main-image-width);
  height: auto;
  max-height: 130px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.secondary-image {
  width: var(--secondary-image-width);
  height: auto;
  padding-top: 10px;
  padding-bottom: 10px;
}

.center-header-image {
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}



ion-toolbar.homepage-toolbar {
  background: var(--ion-toolbar-background);
}