<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> {{'NOTIFICATIONS.NOTIFICATIONS' | translate}} </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [scrollY]="false" class="virtual-wrapper">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large"
        >{{ "NOTIFICATIONS.NOTIFICATIONS" | translate }}</ion-title
      >
    </ion-toolbar>
  </ion-header>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
      pullingIcon="chevron-down-circle-outline"
      pullingText="{{ 'NOTIFICATIONS.PULLING_TEXT' | translate }}"
      refreshingSpinner="circles"
      refreshingText="{{ 'NOTIFICATIONS.REFRESHING_TEXT' | translate }}"
    ></ion-refresher-content>
  </ion-refresher>
  <cdk-virtual-scroll-viewport
    class="scroll-viewport"
    [itemSize]="115"
    orientation="vertical"
    (scrolledIndexChange)="onScroll()"
  >
    @if(notifications != null && notifications!.length > 0) {
    <ion-list lines="full">
      @for (notification of notifications; track notification) {
      <ion-item
        [button]="true"
        class="notifications-item"
        (click)="openNotification(notification)"
      >
        @if (!notification.isRead) {
        <div class="unread-indicator-wrapper" slot="start">
          <div class="unread-indicator"></div>
        </div>
        }
        <ion-label>
          <strong>{{ notification.title }}</strong>
          <ion-text color="medium"
            >{{ notification.message?.slice(0, 50) + '...' }}</ion-text
          >
        </ion-label>
        <div class="metadata-end-wrapper" slot="end">
          <ion-note color="medium"
            >{{notification.publishedAt | date : "short"}}</ion-note
          >
          <ion-icon
            slot="end"
            name="chevron-forward-outline"
            class="right-arrow"
          ></ion-icon>
        </div>
      </ion-item>
      }
    </ion-list>
    } @else {
    <div class="no-notifications-wrapper">
      <ion-text color="medium"
        >{{ 'NOTIFICATIONS.NO_NOTIFICATIONS' | translate }}</ion-text
      >
    </div>
    }
  </cdk-virtual-scroll-viewport>
</ion-content>
