<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button (click)="goBack()"></ion-back-button
    ></ion-buttons>
    <ion-title>{{ "SETTINGS.TITLE" | translate }}</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <div class="settings-list">
    <ion-list>
      <ion-item>
        <ion-select
          label="{{ 'SETTINGS.LANGUAGE' | translate }}"
          placeholder="{{ 'SETTINGS.SELECT_LANGUAGE' | translate }}"
          interface="popover"
          (ionChange)="selectedLanguageChanged($event.detail.value)"
          [value]="currentLang | async"
        >
          <ion-select-option value="en">English</ion-select-option>
          <ion-select-option value="el">Greek</ion-select-option>
        </ion-select>
      </ion-item></ion-list
    >
  </div>
</ion-content>
